div{
    margin: 0;
    font-family: Arial, sans-serif;
}
.button-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, auto);
}
.btn {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn span {
    margin-right: 8px;
}
.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 15px rgba(70, 176, 174, 0.774);
}

/* Button Colors */
.purple {
    background-color: #61d5dd;
}

.cyan {
    background-color: #61d5dd;
}

.green {
    background-color: #61d5dd;
}

.red {
    background-color: #61d5dd;
}
